<br/>
<header>
    <a href="/" class="button">Home</a> | <a href="/register" class="button">Register</a> | <a href="/login" class="button">Login</a> | <a href="/account" class="button">Account</a> | <a href="/dashboard" class="button">Dashboard</a>
</header>
<br/>