<!DOCTYPE html>
<html lang="en">

  <%- include('partials/head') %>

<body>

  <%- include('partials/header') %>

  <main>

    <% if (errors && errors.length > 0) { %>
      <div class="errors">
          <% errors.forEach(error => { %>
              <p><%= error.msg %></p>
          <% }); %>
      </div>
    <% } %>

    <form action="/register" method="POST">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Register</button>
    </form>

  </main>

  <%- include('partials/footer') %>

</body>
</html>